[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE
=======
[submodule "extern/CommonlibNG"]
	path = extern/CommonlibNG
	url = https://github.com/alandtse/CommonLibVR
	branch = ng
